<%= render "header" %>

<%= render "inbox_info" %>

<div id="messages">
  Checking for messages now...
</div>

<script type="text/template" id="message-template">
  <div class="message-from">
    <div class="message-header">From:</div>
    <%%= from %>
  </div>
  <div class="message-subject">
    <div class="message-header">Subject:</div>
    <%%= subject %>
  </div>
  <div class="message-body">
    <div class="message-header">Message:</div>
    <%%= body %> 
  </div>
</script>

<script type="text/template" id="warning-template">
  <div class="warning-bar">
    <p>It looks like this inbox is dead. Would you like a <a href=''>new one?</a></p>
  </div>
</script>

<%= render "footer" %>
