<h3>Spam Inbox</h3>

<p>This is your spam inbox.</p>
<p>Send messages to: </p>
<%= text_field_tag "Sometext", @inbox.address  %>

<br>
<%= "This inbox has about #{ ((cookies[:maildump_dies_at].to_time - Time.now) / 60 ).round } minutes left!" %>

<hr>

<div id="messages">
  Checking for messages now...
</div>

<script type="text/template" id="message-template">
  <tr>
    <td><%%= message.from %></td>
    <td><%%= message.subject %></td>
    <td> <%%= message.body %> </td>
  </tr>
</script>


<h3>Bottom</h3>
