<%= render "header" %>

<%= render "inbox_info" %>

<div id="messages">
  Checking for messages now...
</div>

<script type="text/template" id="message-template">
  <tr class="message-container">
    <td class="message-from"><%%= from %></td>
    <td class="message-subject"><%%= subject %></td>
    <td class="message-body"> <%%= body %> </td>
  </tr>
</script>

<script type="text/template" id="warning-template">
  <tr class="warning-bar">
    <p>It looks like this inbox is dead. Would you like a <a href=''>new one?</a></p>
  </tr>
</script>

<%= render "footer" %>
