/*============= Layout =======*/

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.header {
  width: 100%;
  height: 5%;
  margin: 0;
  padding: 1%;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
  line-height: 87px;
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  background-color: #1F4F91;
  h1, h2, h3, h4 { margin: 0; }
}

.inbox-info {
  margin: 0;
  padding: 1%;
  width: 100%;
  height: 5%;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  font-family: "Healvetica Neue", sans-serif;
  background-color: #3C7FDC;
  p { 
    margin: 0;
    font-weight: 300;
  }
  p span { font-weight: 800; }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%;
  color: #ffffff;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #3C7FDC;
  ul {
    list-style-type: none;
    padding: 0;
  }
}

#messages {
  overflow: scroll;
  padding-bottom: 15%;
}

.message-container {
  min-height: 150px;
  width: 100%;
  border-bottom: 1px solid #aaa;
  transition: all ease 0.25s;
  &.selected {
    border: 2px solid #3C7FDC;
    box-shadow: 0px 0px 10px #aaa; 
  }
  div {
    display: inline-block;
    padding: 2%;
    position: relative;
    vertical-align: top;
    .message-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 2em;
      padding: 5px;
      font-size: 1em;
      color: #888;
      font-family: "Helvetica Neue", sans-serif; 
    }  
  }
  .message-from, 
  .message-subject {
    width: 20%;
  }
  .message-body {
    width: 58%;
  } 
}

/*============= Text Styles =======*/



/*============== Details ===========*/
